<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/452518c8-47eb-4886-babe-136262f21efb/resourcegroups/MusicStore20180926111707ResourceGroup/providers/Microsoft.Web/sites/MusicStore20180926111707</ResourceId>
    <ResourceGroup>MusicStore20180926111707ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://musicstore20180926111707.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>musicstore20180926111707.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MusicStore20180926111707</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MusicStore20180926111707</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=musicstore20180926111707dbserver.database.windows.net;Initial Catalog=MusicStore20180926111707_db;Persist Security Info=True;User ID=sqladmin;Password=Viswanathan@25;Application Name=EntityFramework" Name="Data Source=musicstore20180926111707dbserver.database.windows.net;Initial Catalog=MusicStore20180926111707_db;Persist Security Info=True;User ID=sqladmin;Password=Viswanathan@25;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MusicStore.Models.MusicStoreModel, MusicStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=musicstore20180926111707dbserver.database.windows.net;Initial Catalog=MusicStore20180926111707_db;Persist Security Info=True;User ID=sqladmin;Password=Viswanathan@25;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>